@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    position: relative;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 4px;
    height: 60px;
    width: 180px;
    font-family: ClashDisplay-Medium;
    font-size: 18px;
    line-height: 28px;
    color: white;
}

.small-h{
    font-family: 'ClashDisplay-Medium';
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FF5555;
    letter-spacing: 0.16em;
    margin-bottom: 4px;
}

.medium-h{
    font-family: 'ClashDisplay-Semibold';
    font-size: 28px;
    line-height: 28px;
    text-transform: capitalize;
}

.big-h{
    font-family: 'ClashDisplay-Bold';
    font-size: 48px;
    line-height: 48px;
    text-transform: capitalize;
    margin-bottom: 32px;
}

.para {
    margin-top: 24px;
    font-family: 'ClashDisplay-Medium';
    opacity: 0.5;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
}